<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Extrato - {{nome_cliente}} - {{data_venda}}</title>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      line-height: 21px;

      width: 100vw;

      overflow-x: hidden;

      display: flex;
      flex-direction: column;
    }

    .padding {
      padding: 24px 32px;
    }

    ul {
      list-style: none;
      padding: 0;
      width: 400px;
    }

    li {
      margin-bottom: 8px;
      width: 400px;
    }

    table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 40px;
    }

    table td,
    table thead th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    table tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    table tr:hover {
      background-color: #ddd;
    }

    table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }

    .red {
      color: red;
      border: 2px solid blue;
    }

    .header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }

    img.logo {
      width: 200px;
    }

    td.right {
      text-align: right;
    }

    table.no-border td {
      border: none;
    }
  </style>
</head>

<body class="padding">
  <div class="header">
    <table class="no-border">
      <tr>
        <td>
          <ul>
            <li> <strong> Número da venda: </strong>{{id_venda}} </li>
            <li> <strong> Cliente: </strong>{{nome_cliente}} </li>
            <li> <strong> Data: </strong> {{data_venda}} </li>
          </ul>
        </td>
        <td class="right">
          <img class="logo" src="{{logo}}" alt="Logo Marcon numismatica">
        </td>
      </tr>
    </table>
  </div>



  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Produto</th>
        <th>Código</th>
        <th>Ano</th>
        <th>Origem</th>
        <th>Qtd</th>
        <th>Valor</th>
      </tr>
    </thead>
    {{#each produtos}}
    <tr>
      <td>{{data}}</td>
      <td>{{nome}}</td>
      <td>{{code}}</td>
      <td>{{ano}}</td>
      <td>{{origem}}</td>
      <td>{{quantidade}}</td>
      <td>{{valor}}</td>
    </tr>
    {{/each}}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Frete=</td>
      <td></td>
      <td>{{valor_frete}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Desconto=</td>
      <td></td>
      <td>{{valor_desconto}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Total</td>
      <td>{{qtd_total}}</td>
      <td>{{valor_total}}</td>
    </tr>
  </table>

  <h3>Pagamentos</h3>


  <table>
    <thead>
      <tr>
        <th>Data do Pagamento</th>
        <th>Tipo de Pagamento</th>
        <th>Valor Pago</th>
      </tr>
    </thead>
    {{#each pagamentos}}
    <tr>
      <td>{{data}}</td>
      <td>{{tipo}}</td>
      <td>{{valor}}</td>
    </tr>
    {{/each}}
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Saldo=</td>
      <td>{{saldo}}</td>
    </tr>
  </table>

  <img src="{{img_pix}}" alt="Formas de pagamento">
</body>

</html>
